.git
.gitignore
.dockerignore
vendor
node_modules
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
env/.env.*
!env/*.example*
env/components-creds.txt
env/env.txt
*.pem
*_key
*_key.pub
logs
data/local/result.json
data/cloud/result.json
smoke_test/out/
README.md
SETUP-NATIVE.md
SETUP-DOCKER.md
.phpunit.cache
.phpunit.result.cache
tests
