.git
.github
.gitignore
.dockerignore
.idea
.vscode
target
*.log
env/.env.*
!env/.env.*.example
env/components-creds.txt
env/env.txt
*.pem
*_key
*_key.pub
data/local/result.json
data/cloud/result.json
smoke_test/out
smoke_test/.env
README.md
